html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-
	if;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



.wrapper{
	margin:0 auto;
	width:85%;
}

body{
	font-family: 'Open Sans', serif;
	font-size: 18px;
}

h2{
	font-family: 'Great Vibes', cursive;
	text-transform: capitalize;
	font-size:50px;
}

h3{
	text-transform: capitalize;
}

.color{
	color: #e1560e;
}

img{
	max-width:100%;
}

header{
	background:url(../assets/image-1.jpeg) no-repeat;
	background-size: cover;
	min-height:870px;
	max-width:100%;
	background-attachment: fixed;
	background-position: center center;
	display: flex;
	flex-direction: row;
}

.head_picture{
	max-width: 65%;
	padding-left: 15%;
	padding-top: 15%;
}

.animated{
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	pointer-events: auto;
}

.fades{
	animation-name: fades;
}

@keyframes fades{
	from{
		opacity:0;
		visibility: hidden;
   	 	-webkit-transform: translate3d(0, 0, 40px);
   		transform: translate3d(0, 0, 40px);
	}

	to{
		opacity: 1;
    	-webkit-transform: none;
    	transform: none;
	}
}

.menu{
	background:#23292c;
	opacity: 0.8;
	min-height:100%;
	max-width:15%;
	overflow: hidden;
	padding-top:2%;
	display:block;
}

.animateTime{
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.fadeRight{
	animation-name: fadeRight;
}

@keyframes fadeRight{
	from{
		opacity:0;
		visibility: hidden;
   	 	-webkit-transform: translate3d(0, 0, 40px);
   		transform: translate3d(0, 0, 40px);
	}

	to{
		opacity: 1;
    	-webkit-transform: none;
    	transform: none;
	}
}

.logo{
	display:block;
	max-width:100%;
}

.icon{
	margin:5%;
}

.navigator{
	text-transform: uppercase;
	text-align: center;
	padding:0;
}

.navigator li{
	list-style: none;
	display:flex;
	flex-wrap: wrap;
	margin:7%;
	text-align: center;
	color: #ddd;
}

.navigator li i{
	color:#ddd;
}

.navigator li a{
	text-decoration: none;
	color:#ddd;
	display:block;
	padding:0 8px 6px 16px;
	font-size:16px;
}

.navigator li a:hover{
	background-color: #808080;
}

.credit{
	border-top:1px solid #ddd;
	margin: 0 8px;
	font-size:14px;
	text-align: center;
	color: #ddd;
	padding:10% 0;
}

.credit i{
	color:#e1560e;
    font-size:30px;
    align-items: center;
}

.fa-twitter:hover, a.twitt:hover{
	background:#ddd;
}

a.twitt{
	color:#e1560e;
	text-transform: lowercase;
}

.credit a:focused, .credit a:visited{
	text-decoration: none;
	color:#e1560e;
}

.check{
	text-transform: capitalize;
}

.name{
	text-transform: capitalize;
}

.e-address{
	color:white;
	text-decoration: none;
}

.social{
	text-align:center;
	color: #ddd;
	border-top: solid 1px #ddd;
	margin: 0 10px;
	padding: 20px 0;
}

.social i{
	margin:0 5px;
}

.social a{
	text-decoration: none;
	color:#ddd;
}

.social a:hover, .e-address:hover{
	background:#808080;
}

.social a:focused, .social a:visited{
	text-decoration: none;
	color:#ddd;
}

.copyRight{
	text-align:center;
	line-height: 1;
	color:#ddd;
}

.profilPic{
	border-radius:50%;
	margin-top: 0px;
}

figure{
	margin:0 10px;
	justify-content: center;

}

figcaption{
	margin-top:10px;
}

.chefTitle{
	display:flex;
	align-items: center;
}

.nameChef{
	margin:0;
	text-transform: capitalize;
	font-size:25px;
}

#about{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.profile{
	max-width:50%;
	margin: 1%;
}

.profile h2{
	margin-bottom: 10px;
}

.title{
	font-style: italic;
	font-weight:bold;
	color:#23292c;
	font-size: 22px;
}

.desc{
	color:#808080;
}

.desc p{
	margin-top:15px;
}

.chef-image{
	max-width:58%;
}

.chef-image img{
	max-width:100%;
	max-height:100%;
}

.role{
	text-transform: capitalize;
	font-size: 20px;
	color: #e1560e;
	line-height:1.2;
	margin:0;
}

#gallery{
	margin:0;
}

 #gallery .buttonContainer{
 	list-style: none;
 	padding-left:0;
 	display:flex;
 	flex-wrap: wrap;
 	align-items: center;
 	justify-content: center;
 	padding-top: 1%;
 }

 #gallery .buttonContainer button{
	text-decoration: none;
	text-transform: uppercase;
	background:#23292c;
	border: 1px solid lightgray;
	color:#eae5d6;
	font-family: 'Open Sans', serif;
    padding: 6px 10px;
}

#gallery .buttonContainer button:hover{
    color: #e1560e;
    text-decoration: none;
}

#gallery .buttonContainer li.active{
	background: blue;
}

.description{
	background: #23292c;
	padding: 50px;
	text-align: center;
	color:white;
}

.description p{
	font-style:italic;
	font-size:18px;
}

.categories{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
    flex-wrap: wrap;
}

.column{
	width:30%;
}
 
.headline{
	text-align:center;
	color:#808080;
	font-style: italic;
	font-family: 'Playfair Display', serif;
}

.headline h2{
	color:black;
}

#services{
	margin: 40px 0 0 0;
}

.meals{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding:0;
    align-items: center;
	justify-content: center;
}

.meals li{
	font-family: 'Playfair Display', serif;
	line-height: 20px;
	color: #454D5A;	
	text-align: center;
	margin-left: 3%;
	font-size:16px;
}

.breakfast{
	animation-delay: 0.5s;
}

.lunch{
	animation-delay: 1s;
}

.dinner{
	animation-delay: 1.5s;
	padding-top: 10px;
}

.custom{
	animation-delay: 2s;
	padding-top: 19px;
	margin-right: 3%;
}

.animated-fast {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.fadeInUp{
	animation-name: fadeInUp;
}

@keyframes fadeInUp{
	from{
		opacity:0;
		visibility: hidden;
   	 	-webkit-transform: translate3d(0, 40px, 0);
   		transform: translate3d(0, 40px, 0);
	}

	to{
		opacity: 1;
    	-webkit-transform: none;
    	transform: none;
	}
}

#menus{
	background:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/image-13.jpeg) no-repeat;
	background-size: cover;
	min-height:650px;
	overflow: hidden;
	width:10#0%;
}

#nav-tab li {
  background-color: inherit;
  font-weight:700;
  color:white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  text-transform: capitalize;
  font-family: 'Open Sans', serif;
  display: inline-flex;
  padding:2%;
}

#nav-tab li a{
	text-decoration: none;
	color:white;
}

li .active a { 
  color: #23292c; 
  border-bottom: 1px solid #23292c;
  &:hover {
    border-color: transparent;
    background: #23292c;
    color: white;
  }
}

#nav-tab{
	list-style: none;
 	padding-left:0;
 	display:flex;
 	padding-top: 1%;
 	margin:0;
 	flex-wrap: wrap;
}

.tab-pane{
    display: none;
}

.tab-pane.active{
	display:block;
}

.meal{
	display:flex;
	flex-direction:row;
	justify-content: center;
}

.tab-pane h4{
	text-transform: capitalize;
	margin-bottom:5px;
}

.tab-pane h2{
	color:white;
	text-align:center;
	display: block;
	margin:20px 0;
}

.firstC{
	list-style:none;
	color:white;
	margin-right:auto;
    margin-left:auto;
    padding-left:0;
	font-size: 16px;
	width: 40%;
}

.secondC{
	list-style:none;
	color:white;
	margin-right:auto;
    margin-left:auto;
    padding-left:0;
	font-size: 16px;
	width: 40%;
}

.listItem{
	font-style: italic;
	border-bottom:white dotted 2px;
	text-transform: capitalize;
}

p span{
	margin-bottom:-2px;
	padding:0 7px;
	background:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/image-13.jpeg) no-repeat;
}

.dish{
	float:left;
}

.price{
	float:right;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   min-height: 0; 
   clear: both;
}

.view{
	padding:25px 40px;
	border: none;
	background:#e1560e;
	color:white;
	text-transform:uppercase;
	font-weight:700;
	position:relative;
	left:43%;
	bottom:10%;
	margin-top: 100px;
	border-radius: 5px;
}

.section5{
	width:100%;
	min-height: 355px;
	background:url(../assets/icons/map.png) no-repeat;
	position: relative;
	clear:both;
}

a .pointer{
	text-decoration: none;
}

.pointer{
	position:absolute;
	z-index: 1;
	top:70px;
	right:335px;
}

footer{
	background:#23292c;
	color:#888;
	font-size: 1rem;
}

.columns{
	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.contacts .row{
	justify-content:space-between;
}

.wrapper3{
	margin: 0 auto;
	max-width: 85%;

}

.blackLogo{
	padding-top:40px;
}

.icons{
	display:flex;
	flex-direction: row;
	list-style:none;
	padding-left:0;
	font-size:15px;
	justify-content: center;
	flex-wrap: wrap;
}

.icons li{
	margin:20px 10px;
	font-size:20px;
}

.icons li a{
	text-decoration: none;
	color:#888;
}

.icons li a:hover{
	background:#ddd;
}

.icons li a:focused, .icons li a:visited{
	text-decoration: none;
	color:#888;
}

.details{
	list-style: none;
	margin:0;
	flex-wrap:wrap;
	display:flex;
	flex-direction: row;
	justify-content: center;
	text-transform: capitalize;
}

.address_block{
	margin-right: 30px;
}

.items{
	line-height: 0.90;
	margin-right: 20px;
}

.mail{
	margin-top: 10px;
}

a.email:hover{
	background:#ddd;
}

a.email{
	text-decoration:none;
	color:#888;
}

a.email:focused, a.email:visited{
	text-decoration:none;
	color:#888;
}

.rights{
	margin-top:60px;
	margin-bottom:0;
	text-align:center;
	font-size: 14px;
	padding-bottom: 15px;
}

/*Media Queries*/


@media (min-width: 292px) and (max-width: 576px){
	.menu{
		max-width:30%;
	}

	.navigator li a{
		font-size: 12px;
	}

}

@media (max-width: 292px){

	.navigator li a{
		font-size: 10px;
	}
	.credit{
		font-size: 10px;
	}

	.menu{
		max-width:30%;
	}

	.copyright{
		font-size:12px;
	}

}


@media (max-width: 256px){

    .bottom_Menu{
    	flex-direction:row;

    }

}

@media (max-width: 256px){
	.details{
		font-size: 10px;
	}

	.copyright{
		font-size:12px;
	}
}

@media (max-width: 916px){
	
	#about{
		flex-direction: column;
	}

	.profile{
		max-width: 90%;
	    margin: 0 5%;
	}

	.chef-image{
		max-width:100%;
	}
}

